header
  padding 2em
  text-align center

  +below(600px)
    padding 1em

.logo
  border none
  img
    @media screen and (max-height: 750px)
      width 220px
      height auto

    +below(600px)
      width 220px
      height auto

    +below(400px)
      width 180px
