.launchlist
  margin 0
  padding 0 2em 9em
  list-style: none
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)
  border-radius: 4px
  background #ffffff

  +below(600px)
    box-shadow: none
    padding 0 1em 9em

  li
    padding 1em 0
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 1.3rem
    border-bottom 1px solid #065E77

    +below(600px)
      font-size: 1rem

    span
      padding-right 1em

  li + li
    margin-top 1em

  .toggle
    width 30px
    height 30px
    border-radius: 50%
    background #ffffff
    transition: all 0.3s ease-in-out

    label
      cursor: pointer

    &__input
      display none

    &--is-active
      background #F86D73

.has-help span
  cursor: help
