mixin launchlist()
  .container
    ul.launchlist
      li 
        span Соответствие макету? (используем pixelperfect, но без фанатизма)
        .toggle
          input(type="checkbox" class="toggle__input" id="1")
          label(for="1")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
      li 
        span Кодировка и DOCTYPE верные?
        .toggle
          input(type="checkbox" class="toggle__input" id="2")
          label(for="2")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span HTML проходит валидацию?
        .toggle
          input(type="checkbox" class="toggle__input" id="3")
          label(for="3")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span CSS проходит валидацию?
        .toggle
          input(type="checkbox" class="toggle__input" id="4")
          label(for="4")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span CSS написан по БЭМ?
        .toggle
          input(type="checkbox" class="toggle__input" id="5")
          label(for="5")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span При вставке длинных текстов вёрстка не едет?
        .toggle
          input(type="checkbox" class="toggle__input" id="6")
          label(for="6")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span Иконки собраны в svg-спрайт?
        .toggle
          input(type="checkbox" class="toggle__input" id="7")
          label(for="7")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span CSS собран в один файл и минифицирован?
        .toggle
          input(type="checkbox" class="toggle__input" id="8")
          label(for="8")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span JS собран в один файл и минифицирован?
        .toggle
          input(type="checkbox" class="toggle__input" id="9")
          label(for="9")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span Сторонние JS-библиотеки грузятся из CDN?
        .toggle
          input(type="checkbox" class="toggle__input" id="10")
          label(for="10")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
              
      li 
        span У картинок в HTML указаны размеры и атрибут alt?
        .toggle
          input(type="checkbox" class="toggle__input" id="11")
          label(for="11")
            svg(width="30" height="30")
              use(xlink:href="#fire-icon")
            
