@font-face
  font-family: 'Gregor'
  src: url('../fonts/Gregor_reg_v20-06-2013.eot') /* IE9 Compat Modes */
  src: url('../fonts/Gregor_reg_v20-06-2013.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gregor_reg_v20-06-2013.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gregor_reg_v20-06-2013.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gregor_reg_v20-06-2013.svg#15e05c6a9f4b4cbca52efd9c035eeac1') format('svg') /* Legacy iOS */

  font-style:   normal
  font-weight:  400
