mixin modals()
  +b.modal#doctype
    .container
      +e.header
        | Кодировка и DOCTYPE
        +e.close
          svg(width="30" height="30")
            use(xlink:href="#close-icon")
      +e.content
        ol
          li Кодировка UTF-8
            p Зачем нужно: UTF-8 это универсальность и совместимость. Это современный стандарт, за ним даже не будущее, а настоящее. Как проверяется: в FF Инструменты→Информация о странице, в появившемся окне должно быть написано «Кодировка: UTF8». Эта кодировка должна использоваться для всех файлов: html, css, js (если файлы в разных кодировках могут быть проблемы)
            
          li DOCTYPE: HTML5
            p Зачем нужно: наличие корректного doctype необходимо чтоб страницы отображались в соответсвии со стандартами. Новый doctype позволяет нам смело использовать современные тэги (canvas, header, article,...) и старые проверенные решения, ранее бывшые в опале (например embed). HTML5 — это современный стандарт, в нём можно писать и в строгом XHTML-синтаксисе. #[a(href="http://vimeo.com/19072506") Аргументация для сомневающихся].
    
